<h1>Pages#contact</h1>
<p>71735271</p>
<p><%= number_to_currency "150"%></p>

<div class="col-md-6"> 
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1968.0480947591732!2d35.622511414641!3d33.94500710548325!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f3f12616c988b%3A0x9c786492efe98cb5!2zMzPCsDU2JzQ3LjYiTiAzNcKwMzcnMTcuNyJF!5e0!3m2!1sen!2slb!4v1499431976003" width="600" height="450" frameborder="0" style="border:2" allowfullscreen></iframe>
</div> 